@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  background-color: #0c122c;
  background-image: url("../images/bg-desktop.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.wrapper {
  height: 100vh;
  margin: 0 30px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fylo {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#fylo .content {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  position: relative;
  top: -55px;
}

#fylo .left-content,
#fylo .right-content {
  padding: 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#fylo .left-content {
  background-color: #1d2c67;
  max-width: 360px;
  width: 100%;
  height: 200px;
  border-top-right-radius: 100px;
  margin-right: 30px;
}

#fylo .left-content .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#fylo .left-content .links button {
  width: 45px;
  height: 45px;
  margin-top: 30px;
  margin-right: 15px;
  background-color: #0c122c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#fylo .left-content .links button:last-child {
  margin-right: 0;
}

#fylo .left-content .links button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(110, 136, 252, 0.3)), to(#1d2c67));
  background: linear-gradient(0deg, rgba(110, 136, 252, 0.3) 0%, #1d2c67 100%);
  -webkit-box-shadow: inset 2px 2px 3px #0c122c;
          box-shadow: inset 2px 2px 3px #0c122c;
}

#fylo .right-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 150px;
  background-color: #1d2c67;
  color: #dddbff;
  margin-top: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#fylo .right-content .baloon {
  width: 150px;
  height: 60px;
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-right-radius: 0;
  color: #0c122c;
  position: absolute;
  right: 45px;
  bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fylo .right-content .baloon ::after {
  border-left: 20px solid transparent;
  border-top: 20px solid #fff;
  bottom: -20px;
  content: "";
  position: absolute;
  left: 130px;
}

#fylo .right-content .baloon strong {
  font-size: 2rem;
  display: block;
  margin-right: 10px;
}

#fylo .right-content .baloon span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
  color: #848794;
  display: block;
}

#fylo .right-content .progress-bar {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#fylo .right-content .progress-bar .message,
#fylo .right-content .progress-bar .bar,
#fylo .right-content .progress-bar .progress {
  display: block;
}

#fylo .right-content .progress-bar .bar,
#fylo .right-content .progress-bar .progress {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#fylo .right-content .progress-bar .message {
  margin-bottom: 15px;
  font-weight: 400;
}

#fylo .right-content .progress-bar .bar {
  width: 100%;
  height: 22px;
  background-color: #1a2042;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fylo .right-content .progress-bar .bar .progress {
  width: 80%;
  height: 16px;
  background: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background: linear-gradient(90deg, #ffa399, #ff4d97);
  margin-left: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: loading 2.5s linear;
          animation: loading 2.5s linear;
}

@-webkit-keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

#fylo .right-content .progress-bar .bar .progress .point {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  margin: 2px 2px 2px auto;
}

#fylo .right-content .progress-bar .capacity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#fylo .right-content .progress-bar .capacity span {
  display: block;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */